/* body{
  background-image: url("bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
} */
.bg-img{
  background-image: url("bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bg-cstm-light{
 background-color: #11d2ec;
}
.bg-cstm-med{
 background-color: #174995;
}
.bg-cstm-dark{
  background-color: #012b5c;
}
.text-cstm-light{
  color: #11d2ec
}
.text-cstm-med {
  color: #174995
}
.text-cstm-dark{
  color: #012b5c
}
.font-lg{
  font-size: 3.5rem;
}
.font-md{
  font-size: 2rem;
}
.profile-size{
  height: 25vh;
  border-radius: 5%;
}
.icon-size-wider{
  max-height: 30vh;
  max-width: 100%;
}
.icon-size{
  max-height: 13vh;
  max-width: 100%;
}
.icon-cols{
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-size{
  max-width: 100%;
}
.bg-primary-tran{
  background-color: rgba(58, 63, 68, 0.5) !important
}
.bg-primary-tran2{
  background-color: rgba(58, 63, 68, 0.8) !important

}
.bg-secondary-tran{
  background-color: rgb(122, 130, 136, 0.8);
}
.sticky-bottom{
  position: absolute;
bottom: 0;
}
h5{
  text-decoration: underline;
}
.noUnder{
  text-decoration: none !important;
}

.rounded {
  border-radius: 50px;
  border: 2px solid black;
}

.bg-grad{
  background: rgb(244,244,244);
  background: radial-gradient(circle, rgba(244,244,244,1) 65%, rgba(23,73,149,1) 74%, rgba(3,11,22,1) 89%);
}

.text-black {
  color: black;
}

.bg-light-cstm {
  background-color: rgb(239 237 237);
}

.text-light-cstm {
  color: rgb(239 237 237)
}